.about-container {
  margin-top: 100px;
  padding-bottom: 100px;
  width: 90%;
  color: var(--colors-background);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.about-container h1 {
  font-size: 2rem;
  text-align: center;
}

.about-container p {
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--colors-content);
}
h3 {
  font-size: 1.8rem;
  font-family: "Noto Serif", serif;
  margin-bottom: 0;
}
.red {
  color: var(--colors-accent);
}
.accent {
  color: var(--colors-background);
  /* font-weight: 400; */
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .about-container h1 {
    font-size: 4rem;
  }

  .about-container p {
    font-size: 2rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 992px) {
  .about-container {
    width: 80%;
  }

  .about-container h1 {
    font-size: 5rem;
  }
 

  .about-container p {
    font-size: 2.2rem;
    font-weight: 300;
  }
}
@media only screen and (min-width: 1200px) {
  .about-container p {
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1600px) {
  .about-container h1 {
    font-size: 6rem;
  }
  .about-container p {
    font-size: 3.6rem;
  }
}