.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  background-image: url('../../assets/images/bg_21.png') rgba(12, 10, 10, 0.6);
  background-blend-mode: multiply;
}

.footer {
  display: flex;
  width: 100%;
}
