.port-container {
  width: 80%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 160px;
}

.port-container h1 {
  font-size: 2rem;
}

.port-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: var(--colors-background);
  font-size: 1.6rem;
  font-weight: 200;
  flex-wrap: wrap;
  gap: 20px;
}

.port-comp {
  list-style-type: none;
  text-align: center;
  background-color: var(--colors-portfolio);
  border-radius: 4px;
  padding: 30px 30px 0 30px;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: var(--colors-background);
}

.image-box {
  overflow: hidden;
}

.port-img {
  width: 300px;
  height: 130px;
  transition: all 0.3s ease-in-out;
}

.port-img:hover {
  transform: scale(1.1);
}

.port-buttons {
  margin-bottom: 20px;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.cat-button {
  background-color: var(--colors-primary);
  color: var(--colors-background);
  border: 1px solid var(--colors-accent);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  width: 130px;
  padding: 6px 2px;
  cursor: pointer;
  margin: 4px;
}

@media only screen and (min-width: 768px) {
  .port-container h1 {
    font-size: 4rem;
  }
  .port-buttons {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .port-container h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .port-container h1 {
    font-size: 6rem;
  }
  .port-wrapper {
    max-width: 80%;
  }
  .port-img {
    width: 400px;
    height: 213px;
  }
}
