.contact-container {
  color: var(--colors-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contact-container h1 {
  font-size: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
}

.input {
  margin-bottom: 6px;
  width: 100%;
  height: 26px;
  padding: 4px;
  font-family: "Roboto" sans-serif;
}

.input-textarea {
  padding: 4px;
  width: 100%;
  font-family: "Roboto" sans-serif;
}

.submit-send {
  margin-top: 20px;
  margin-bottom: 10px;
  height: 40px;
  width: 100%;
  background: var(--colors-accent);
  color: var(--colors-background);
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
  border: none;
}

.info-container {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.contact-icons {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.contact-icons a {
  font-size: 1.6rem;
  color: var(--colors-content);
}

.contact-icons a:hover {
  color: var(--colors-accent);
}

.mail {
  font-size: 1.76rem;
  margin-top: -1px;
}

@media only screen and (min-width: 768px) {
  .contact-container h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 992px) {
  .contact-container h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .contact-container h1 {
    font-size: 5rem;
  }
}
@media only screen and (min-width: 1600px) {
  .contact-container h1 {
    font-size: 6rem;
  }
}
