
.home-wrapper {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    color: rgb(124, 123, 123);
    min-height: 100%;
    margin-bottom: 40px;
    padding-top: 100px;
}


.main {
    /* border: 1px solid #000; */
    /* width: 60%; */
    font-size: 4rem;
    font-weight: 300;
    margin-bottom: 200px;
    width: 70%;
    margin-top: 60px;
}

.accent {
    color: var(--colors-background);
    font-weight: 300;
    text-decoration: none;
}

.accent:hover {
    color: var(--colors-accent);
    cursor: pointer;
}
