.port-container {
  width: 100%;
  max-width: 100vw;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0;
  margin-bottom: 160px;
}

.port-container h1 {
  font-size: 2rem;
}

.port-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
  font-size: 1.4rem;
  font-weight: 200;
  flex-wrap: wrap;
  gap: 20px;
}

.port-comp {
  list-style-type: none;
  text-align: center;
  background-color: var(--colors-portfolio);
  border-radius: 4px;
  padding: 30px 10px 0 10px;
  width:90vw;
  height: auto;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  
}
.port-comp a {
  color: var(--colors-background);
}

.image-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  aspect-ratio: 16 / 9;
}

.port-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.flame {
  height: 260px;
  margin-top: -120px;
  /* aspect-ratio: 16 / 9;
  object-fit: cover; */
  transform: scale(0.5);
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -o-transform: scale(0.5);
}

.port-img:hover {
  transform: scale(1.1);
}

.port-buttons {
  margin-bottom: 20px;
  display: flex;
  column-gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  
}

.cat-button {
  background-color: var(--colors-primary);
  color: var(--colors-background);
  border: 1px solid var(--colors-accent);
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  flex: 0 0 33%; 
  width: 130px;
  padding: 6px 2px;
  cursor: pointer;
  margin: 4px;
}
.web-buttons {
  display: flex;
  margin-top: 40px;
}
.arrow-button {
  font-size: 2rem;
  border: none;
  background-color: var(--colors-primary);
  color: var(--colors-background);
  cursor: pointer;
  margin: 0;
}

.arrow-button:hover {
  color: var(--colors-accent);
}

.arrow-button:disabled {
  color: var(--colors-portfolio);
  cursor: default;
}
@media only screen and (min-width: 768px) {
  .port-container h1 {
    font-size: 4rem;
  }
  .port-buttons {
    margin-bottom: 100px;
  }
}

@media only screen and (min-width: 992px) {
  .port-container h1 {
    font-size: 5rem;
  }
  .port-comp {
    width: 400px;
    padding: 30px 20px 0 20px;
  }
  .cat-button {
    width: 260px;
    flex: 0 0 25%; 
  }
  /* .flame {
    margin-top: -120px;
  } */
}
@media only screen and (min-width: 1600px) {
  .port-container h1 {
    font-size: 6rem;
  }
  .port-buttons{
    max-width: 60%;
  }
  .port-wrapper {
    max-width: 80%;
  }
  .port-comp {
    width: 500px;
    /* height: 350px; */
  }
  .port-img {
    width: 400px;
    /* height: 213px; */
  }

  .flame {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
}
}