

@media only screen and (min-width: 1200px) {
    .button {
        width: 80%;
        height: 80%;
        
    }
}

@media only screen and (min-width: 2000px) {
    .button {
        width: 140%;
        height: 140%;
    }
}
