.text {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.title {
    color: var(--colors-yellow);
    font-size: 2.9rem;
    margin-bottom: -40px;
    text-align: justify;
}

.lighter{
 
  color: var(--colors-red);
  /* margin-bottom: 100px; */
  font-variant: small-caps;
  font-weight: 900;
  font-size: 6rem;
}