.singlePort-container {
  color: var(--colors-background);
  width: 90%;
  margin-top: 90px;
  flex-grow: 1;
  height: auto;
  padding: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.singlePort-container h1 {
  font-size: 2rem;
  text-align: center;
  padding-top: 0;
}

.mobile-buttons {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
  position: fixed;
  top: 90px;
  left: 0;
  min-width: 100%;
  margin-bottom: 30px;
}

.title-mob {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-align: center;
}

.title-mob h1 {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.title-web {
  display: none;
}

.website {
  display: flex;
  flex-direction: column;
}

.website a {
  color: var(--colors-accent);
  text-decoration: none;
}

.web-buttons {
  display: none;
}

.singlePort-wrapper {
  display: flex;
  align-items: flex-start;
}

.arrow-button {
  font-size: 2rem;
  border: none;
  background-color: var(--colors-primary);
  color: var(--colors-background);
  cursor: pointer;
  margin: 0;
}

.arrow-button:hover {
  color: var(--colors-accent);
}

.arrow-button:disabled {
  color: var(--colors-portfolio);
  cursor: default;
}

.port {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--colors-portfolio);
  padding: 6px;
}

.single-img {
  width: 90%;
  height: 90%;
  margin: 40px auto 5px auto;
}

.right {
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.right p {
  font-weight: 400;
}

.list {
  margin-top: 20px;
  font-weight: 400;
  list-style-type: none;
  color: var(--colors-content);
}

.dot {
  color: var(--colors-accent);
}
.char {
  font-weight: 300;
  font-size: 1.3rem;
}

@media only screen and (min-width: 576px) {
  .mobile-buttons {
    display: none;
  }

  .title-mob {
    display: none;
  }

  .title-web {
    margin-top: 100px;
    display: block;
  }

  .web-buttons {
    display: flex;
    margin-top: 250px;
  }

  .single-img {
    margin: 5px auto;
  }
}

@media only screen and (min-width: 768px) {
  .right p {
    font-size: 2rem;
    font-weight: 300;
  }
}

@media only screen and (min-width: 992px) {
  .singlePort-container {
    margin-top: 0;
    padding: 40px 0 180px 0;
  }

  .singlePort-container h1 {
    font-size: 4rem;
    margin-top: -20px;
  }

  .arrow-button {
    font-size: 3rem;
  }

  .singlePort-wrapper {
    padding: 30px;
  }

  .port {
    padding: 30px;
    margin: 20px;
  }

  .list {
    margin-top: 20px;
    font-size: 1.4rem;
    list-style-type: none;
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 1600px) {
  .single-img {
    width: 66%;
    height: 66%;
  }

  .right {
    flex-direction: column;
    width: 30%;
  }
}
