:root {
    --colors-primary: #151617;
    --colors-background: white;
    --colors-accent: rgb(220,20,60);
    --colors-portfolio: #222324;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: var(--colors-primary);
}

h1{
    font-size: 3.2rem;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    color: var(--colors-background);
}


@media only screen and (min-width: 576px) {
    h1 {
        font-size: 4rem;
          }
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 8rem;
          }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 10rem;
          }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 12rem;
          }
}



